

* {
  
    --color-bg-general: #f5e5e5;
    --font-size-general: 1rem;
    --color-font-general: #073B4C; 
    --font-weight-general: 400;
    --font-general:'Andika New Basic', sans-serif;
    --line-height-general : 1.75;

    --color-border-nav: #F76D6D;
    --font-size-nav: 1rem;
    --color-font-nav:#073B4C;

    --color-bg-footer: #118AB2;
    --font-size-footer: 0.8rem; 
    --color-font-footer: #f5e5e5;

    --font-color-paragraph: yellow;
    --font-size-paragraph:3.052rem;
    
    --font-color-title:red;

    --paddingSection:1vw;
    --marginSection:1vw;
    margin:0;
    padding:0;
   
  }


body {
background: var(--color-bg-general);
font-family: var(--font-general);
font-weight: var(--font-weight-general);
line-height: var(--line-height-general);
color: var(--color-font-general);
}

nav{
border : 1px solid var(--color-border-nav);
font-size: var(--font-size-nav);
color : var(--color-font-nav);
}

footer{
    background-color: var(--color-bg-footer);
    font-size: var(--font-size-footer);
    font-color: var(--color-font-footer);
}


.cardProject1, .cardProject2 {

display : flex;

justify-content: space-between;
width:80%;
margin:var(--marginSection);
padding:var(--paddingSection);

}


@media screen and (min-width: 600px) {
  .cardProject2 {

/* En desktop, on veut que sur les lignes impaires, le texte soit à gauche de la photo - on ne veut pas cet effet en mobile
*/
    flex-direction: row-reverse;
  
  }


}

@media screen and (max-width: 600px) {

  .cardProject1, .cardProject2{

/* En mobile, on veut que le texte aille sous la photo (wrap)
*/
    flex-wrap: wrap;
    border:1px solid green;

  }

}

.galery img{
 

  width : 80%;
  height : 80%;
  max-width : 40vw;
  max-height : 40vw;
  padding:var(--paddingSection);
  margin:var(--marginSection);
}

.descriptionWildProject {
  border:1px solid pink;
  width : 80%;
  height : 80%;
  max-width : 800px;
  max-height : 800px;
  padding:var(--paddingSection);
  margin:var(--marginSection);
}



.descriptionWildProject h2 {
  margin:0;
  padding: 0;

  
}

h1, h2, h3, h4, h5 , ul {
margin: 3rem 0 1.38rem;
font-family: var(font-size);
font-weight: 400;
line-height: var(--line-height-general);
color:var(--color-font-title);
}

h1 {
margin-top: 0;
font-size: var(--font-size-paragraph);
}

h2 {font-size: 2.441rem;}

h3 {font-size: 1.953rem;}

h4 {font-size: 1.563rem;}

h5 {font-size: 1.25rem;}

small, .text_small {font-size: 0.8rem;}