/*style.css*/

/*variable declaration GENERALE*/
  :root{
  /* general variable*/
    --color-bg-general: #f5e5e5;
    --font-size-general: 1rem;
    --color-font-general: #073B4C;
    --font-weight-general: 400;
    --font-general:'Andika New Basic', sans-serif;
    --line-height-general : 1.75;
  /*navbar variable*/
    --color-border-nav: #F76D6D;
    --font-size-nav: 1rem;
    --color-font-nav:#073B4C;
  /*footer variable*/
    --color-bg-footer: #06d6a0;
    --font-size-footer: 0.8rem;
    --color-font-footer: #f5e5e5;
  /*paragraph variable*/
    --font-color-paragraph: yellow;
    --font-size-paragraph:1rem;
  /*tittle vararible*/
    --font-color-title:red;
    --paddingSection:1vw;
    --marginSection:12vw;
    --marginForm:0vw;
    --marginMessage:-10vw;
  /*h1*/
    --font-size-h1:1rem;


  /*h2*/
  --font-size-h2:1.953rem;
  margin:0;
  padding:0;




}
/*general config*/


body {
font-family: var(--font-general);
font-weight: var(--font-weight-general);
line-height: var(--line-height-general);
color: var(--color-font-general);
margin:0;
padding:0;
}

header, nav, footer{
  width: 99%;
  margin:auto;
}


h1, h2, h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  font-family: var(font-size);

  line-height: var(--line-height-general);
  color:var(--color-font-title);
  }

  h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: var(--font-size-h1);
  }
  /*font-size: var(--font-size-paragraph);*/

  p{
    margin-bottom: 2vw;
  }

  h2 {font-size: var(--font-size-h2);}



  h3 {font-size: 1.953rem;}

  h4 {font-size: 1.563rem;}

  h5 {font-size: 1.25rem;}


  small, .text_small {font-size: 0.8rem;}



a:hover{

opacity: 0.7;

}




































/*HEADER ET NAV BARRE*/
header{
  background-color: #ed6c6d;
  border : 1px solid var(--color-border-nav);
  font-size: var(--font-size-nav);
  color : var(--color-font-nav);
  display: flex;
}

header img {
  width: auto;
  height: 5vw;
  max-height: 200px;
  margin-left: 2vh;
  margin-top: 1vh;
}

#menuToogle {
  left: 20px;
  opacity: 0;
}

#menuToogle:checked ~ .menuButton > span {
  transform: rotate(45deg);
}

#menuToogle:checked ~ .menuButton > span::before {
  top: 0;
  transform: rotate(0);
}

#menuToogle:checked ~ .menuButton > span::after {
  top: 0;
  transform: rotate(90deg);
}

#menuToogle:checked ~ .menuBox {
  visibility: visible;
}

.menuButton {
  display: flex;
  align-items: center;
  position: fixed;
  top: 3px;
  right: 20px;
  width: 26px;
  height: 26px;
  z-index: 1;
  cursor: pointer;
}

.menuButton > span, .menuButton > span:hover, .menuButton > span::before, .menuButton > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: red;
  transition-duration: .25s;
}

.menuButton > span::after {
  content: '';
  top: 8px;
}

.menuBox {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #ed6c6d;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  transition-duration: .25s;
}

.menuItem {
  display: block;
  padding: 12px 24px;
  color: black;
  text-decoration: none;
  transition-duration: .25s;
}

.desktopMenu{
  display: none;
}

@media screen and (min-width:700px) {
  .header {
    position: fixed;
    top: 0;
    width: 75%;
    height: auto;
  }

  .header img {
    margin-left: 11vh;
  }
  .desktopMenu {
    display: flex;
    justify-content: space-around;
  }
  .desktopMenu a {
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-style: bold;
  }
  .buttonProject {
    padding: 1vh;
    background-color: #1173ae;
    border-color: #1173ae;
    border-radius: 50px;
  }

}


































































/*--PARTIE PRINCIPALE DU SITE--*/

main{
  background-color: whitesmoke; /*var(--color-bg-general);*/
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 99%;
  margin:auto;
  padding-top:3rem;
  padding-bottom:3rem;
  margin-top:0;
  background: url(./assets/Image_FondBlured.png) no-repeat center center fixed;
}



/*media query pour enlever l'image de fond sur version mobile*/

@media screen and (max-width: 700px) {

  main  {
    background: none;

  }

}



main img{
  padding: 0;
  margin: 0;
  width: 70vw;
  box-shadow: 10px 10px 5px #073B4C;
   border-radius: 5%;
}

main h2 {

  display: flex;
  justify-content: flex-start;
  width: 90%;
  padding-top:0;
  margin-top:0;
  /* border:10px solid #06D6A0;
  box-shadow: 10px 10px 5px #06D6A0;
  border-radius: 30%;; */
}


/*index.html*/

/*caroussel*/

* {box-sizing:border-box}

/* caroussel container */
.caroussel {
  max-width: 70vw;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* button next and previous */
  .prev, .next {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

/* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active, .dot:hover {
    background-color: #717171;
  }

/* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

/*presentation*/

/*contact.html*/

form.contactForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: var(--marginForm);
  margin-right: var(--marginForm);
  height: 75vh;
  width: 75vw;
  margin-bottom: 10rem;

}
div.form{
  display:flex;
  width: 50vw;
  height: auto;
  flex-direction: column;
}

label textarea{
  margin-left: var(--marginMessage);
  margin-right: var(--marginMessage);
  height: 20vh;
  width: 50vw;
}
fieldset label textarea{
  display:flex;
  flex-direction: column;
}

input.field, input.send, textarea{
  border:none;
  border-radius: 5%;
  box-shadow: 4px 4px 4px #073B4C;
  background-color: #ddd;
}

input.send{
  margin-top: 4vw;
  width: 20vw;
}

input#uploads {
  display:none;
}

label.upload {
  display:none;
}

/*media query*/

  @media screen and (min-width: 700px) {
    body {
      font-family: var(--font-general);
      font-weight: var(--font-weight-general);
      line-height: var(--line-height-general);
      color: var(--color-font-general);
      /*margin qui permet que le body ne fasse pas toute la largeur*/
      margin-left:var(--marginSection);
      margin-right:var(--marginSection);
      }
    main img {
      padding: 0;
      margin: 0;
      width: 40vw;

    }
    .menuBurger{
      display:none;
    }

/*formulaire de contact*/
    form{
      display:flex;
      width: 50vw;
      height: auto;
      flex-direction: column;

    }

    label {
      display:flex;
      flex-direction: column;

    }
    fieldset {
      display:flex;
      justify-content: space-between;
      margin-top: 0.2rem;
      margin-bottom: 0.005rem;
    }

    label textarea{
      margin-left: var(--marginMessage);
      margin-right: var(--marginMessage);
      height: 20vh;
      width: 30vw;
    }

    div.form{
      display:flex;
      width: 30vw;
      height: auto;
      flex-direction: column;
      margin-bottom: 2rem;
    }

    input.field, input.send, textarea{
      background-color: #ddd;
      border:none;
      border-radius: 5%;
      box-shadow: 4px 4px 4px #073B4C;
    }

    input.send{
      margin-top: 2vw;
      width: 5vw;
    }

    input#uploads {
      display:block;
    }

    label.upload {
      display:block;
      margin-top: 1rem;
    }

  }


































/*galerie*/

section.filter{
  width: 90%;
  display: flex;
  justify-content: flex-start;
  font-size: var(--font-size-paragraph);
  margin:0;
  padding:0;

}
section.filter form{



  margin-left:1vw;
  padding:10px;

}



main h2{
justify-content:left;


}

.cardProject1, .cardProject2 {
  display : flex;
  width:90%;
  padding:var(--paddingSection);
  }

  main img {
    object-fit: fill;
    /* aspect-ratio: 16/9; */
    width:30vw ;
   max-height:40vh

    }

/*La classe .introIndex ert à gérer le bloc central (texte d'intro + image + descr) sur la page d'accueil*/

main .introIndex{
width:50vw;

}






    @media screen and (max-width: 700px) {
      main img {

        width:60vw ;


        }

      }


  main .descriptionWildProject, .quiSommesNousParaph{
      padding-left:var(--paddingSection);

  }



  .descriptionWildProject h3, .quiSommesNousParaph h3{
    padding:0;
    margin:0;

  }
  .descriptionWildProject p{
    padding:0;
    margin:0;

  }


  @media screen and (min-width: 700px) {
  .cardProject2 {
  /* En desktop, on veut que sur les lignes impaires, le texte soit à gauche de la photo - on ne veut pas cet effet en mobile
  */
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  }
  }
  @media screen and (max-width: 700px) {
  .cardProject1, .cardProject2 {
  /* En mobile, on veut que le texte aille sous la photo (wrap)
  */
  flex-wrap: wrap;
  /*Sera à améliorer pour que ce comportement se fasse par défaut, sans avoir à utiliser de media query*/
  }


























/*FOOTER*/

footer{
    background-color: var(--color-bg-footer);
    font-size: var(--font-size-footer);
    color: var(--color-font-footer);
    display:flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;
    height: 80px;
    width: auto;
      }
}

footer a {
  text-decoration: none;
  color: white;
  margin-right: 10px;
}

footer ul {
  list-style-type: none;
}

footer li{
  display: inline;
}
/* suppression de margin top ppour uniformiser la page*/
.footerUl ul {
  margin-top: 0;
}

.logosFooter {
  display: flex;
  justify-content: center;
  font-size: 20px;

}

#myBtn {
  background-color: #06d6a0;
  border-color: #06d6a0;
  cursor: pointer;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #06d6a0(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}



/* Modal Content/Box */
.modal-content {
  background-color: #ffd166;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid rgb(43, 42, 42);
  width: 80%; /* Could be more or less, depending on screen size */
  display: flex;
  flex-direction: column;
}

.modal-content img {
  width: 33%;
  height: auto;
  border-radius: 50%;
}
div.link{
  display:flex;
  justify-content: center;
}

div.pictureProfile{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.link a{
color: black;
}

/* The Close Button */
.close {
  color: black;
  float: left;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}



@media screen and (min-width: 700px) {
  .footer {
    background-color: var(--color-bg-footer);
    height: 100px;
    color: white;
  }

  .footerUl {
    display: flex;
    justify-content: center;
    margin-top: 1em;
  }

  .footer li {
    margin-right: 1em;
  }
  /* The Modal (background) */
 .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #06d6a0(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}



/* Modal Content/Box */
.modal-content {
  background-color: #ffd166;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid rgb(43, 42, 42);
  width: 80%; /* Could be more or less, depending on screen size */
}

.modal-content img {
  width: 300px;
  height: auto;
  margin-right: 16vh;
  border-radius: 50%;
}

/* The Close Button */
.close {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}
}

