/*style.css*/

/*variable declaration GENERALE*/
:root{
  /* general variable*/
  --color-bg-general: #f5e5e5;
  --font-size-general: 1rem;
  --color-font-general: #073B4C; 
  --font-weight-general: 400;
  --font-general:'Andika New Basic', sans-serif;
  --line-height-general : 1.75;
/*navbar variable*/
  --color-border-nav: #F76D6D;
  --font-size-nav: 1rem;
  --color-font-nav:#073B4C;
/*footer variable*/
  --color-bg-footer: #118AB2;
  --font-size-footer: 0.8rem; 
  --color-font-footer: #f5e5e5;
/*paragraph variable*/
  --font-color-paragraph: yellow;
  --font-size-paragraph:3.052rem;
/*tittle vararible*/ 
  --font-color-title:red;

  --paddingSection:1vw;
  --marginSection:10vw;

  margin:0;
  padding:0;

}
/*general config*/
*{
  /* box-sizing: border-box; */

}
  
img.test {
  padding: 0;
  margin: 0;
  border: #bbbb solid 1px;
  width: 200px;

}

body {
font-family: var(--font-general);
font-weight: var(--font-weight-general);
line-height: var(--line-height-general);
color: var(--color-font-general);
/* margin qui permet que le body ne fasse pas toute la largeur*/
margin-left:var(--marginSection);
margin-right:var(--marginSection);
}

header, nav, main, footer{
  width: 90%;
  margin:auto;
}


h1, h2, h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  font-family: var(font-size);
  font-weight: 400;
  line-height: var(--line-height-general);
  color:var(--color-font-title);
  }
  
  h1 {
  margin-top: 0;
  
  font-size: var(--font-size-paragraph);
  }
  
  h2 {font-size: 2.441rem;}
  

  
  h3 {font-size: 1.953rem;}
  
  h4 {font-size: 1.563rem;}
  
  h5 {font-size: 1.25rem;}
  
  
  small, .text_small {font-size: 0.8rem;}
  
  







































/*HEADER ET NAV BARRE*/
header{
  background-color: #ed6c6d;
  border : 1px solid var(--color-border-nav);
  font-size: var(--font-size-nav);
  color : var(--color-font-nav);
  display: flex;
}

header img {
  width: auto;
  height: 5vw;
  max-height: 200px;
  margin: 1em;
}


.dropDownMenu{
  
}

.menuBurger{
  
}

.under {
  display: none;
}

.desktopMenu {
  display: none;
}

































































/*PARTIE PRINCIPALE DU SITE*/


main{
  background-color: var(--color-bg-general);
}


  
  /*index.html*/
  div.radio{
    display: flex;
    justify-content: center;
  }



































































  






/*FOOTER*/

footer{
    background-color: var(--color-bg-footer);
    font-size: var(--font-size-footer);
    color: var(--color-font-footer);
    display:flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;
}

footer ul {
  display: flex;
  align-items: stretch;
  margin-top: 3em; 
  list-style: none;
}

/* suppression de margin top ppour uniformiser la page*/
.footerUl ul {
  margin-top: 0;
}

.logosFooter {
  display: flex;
  justify-content: flex-end;
  font-size: 20px;
}
